#----ides config
.env
.idea
.history
.vs

#-------laravel
/vendor/*
*/vendor/*
**/vendor/*
*vendor/*
/vendor
/log/*


#--------node
/node_modules
/*/node_modules
/*/*/node_modules
/*/*/*/node_modules
/*/*/*/*/node_modules
*node_modules




# Ignora los ficheros *.o y *.a *.zip
*.iso
*.mp4




binarios/linux/sonarqube/sonarqube-9.6.1.59531.zip
binarios/utilitarios/AcroRdrDC1500720033_MUI.exe
*sonarqube-9.6.1.59531.zip

*AcroRdrDC1500720033_MUI.exe


dotfiles/fastkey_data/nul